{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1529946825183-536c6317f60e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">What is Adventurer's Journal?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Ever been so attached to a character that you couldn't get enough time at the table
              to roleplay them without completely alienating every other player at the table?
          This is a place for roleplaying away from the game table. Not a cure for character addiction, but an avenue for slight remission of symptoms. Sign up (or log in), and talk about whatever as your character.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}